@model Structure_Helper.Models.Structure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Structure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elevation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elevation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Northing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Northing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Easting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Easting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
